{
  "parser": "/Users/sojin/Documents/dev/inflearn/react-nodebird/prepare/front/node_modules/@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react-hooks",
    "jsx-a11y",
    "simple-import-sort"
  ],
  "rules": {
    "no-template-curly-in-string": "off",
    "arrow-parens":["error", "as-needed"],
    //import react 생략
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    // import 순서
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",

    // devDependencies 에 선언되지 않은 외부 모듈을 가져올 때 error
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],

    // named export 허용
    "import/prefer-default-export": "off",

    // 연산자 이후 줄바꿈
    "operator-linebreak": "off",
    "linebreak-style": "off",

    // jsx 내에서 single quotation 사용 가능
    "jsx-quotes": "off",

    // 줄바꿈시 2칸 indent 이외의 indent 를 허용
    "@typescript-eslint/indent": "off",

    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "implicit-arrow-linebreak": "off",

    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "cjs": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],

    "import/no-cycle": "warn",

    "no-confusing-arrow": "off",

    "no-plusplus": "off",

    "function-paren-newline": "off",

    "object-curly-newline": "off",

    // tag self-closing
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],

    // 불필요한 중괄호 제거
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ],

    "react/prop-types": "off",
    "react/display-name": "off",

    "@typescript-eslint/no-shadow": "off",
    "no-console": "off",
    "jsx-a11y/label-has-associated-control":"off",
    "jsx-a11y/anchor-is-valid":"off",
    "react/forbid-prop-type":"off",
    "react/jsx-one-expression-per-line":"off",
    "react/jsx-props-no-spreading":"off",
    "import/no-unresolved": "off",
    "default-param-last": "off",
    "no-param-reassign": "off",
    "consistent-return": "off"
  }
}